.main_catalog {
    width: 100%;
}

.item_image {
    height: 100px;
    object-fit: cover;
}

.main_catalog_wrapper {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    background-color: #fafafa;
    padding: 15px;
    position: relative;
    padding-bottom: 87px;
    padding-top: 80px;
}

.main_catalog_search_input {
    padding: 12px 16px;
    padding-left: 55px;
    width: 328px;
    border-radius: 30px;
    background-color: #F4F4F4;
    color: #515151;
    border: none;
    position: relative;
    outline: none;
    font-size: 14px;
}

.main_catalog_search_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_catalog_search {
    position: relative;
    display: flex;
    gap: 3%;
    color: white;
    max-width: 400px;
    font-size: 20px;
    font-family: 'Formular';
    height: 87px;
    margin: 0px 20px;
}

.top_category_name {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.top_category_name img {
    cursor: pointer;
}

.top_category_name h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.06px;
    width: 100%;
    text-align: center;
    color: #37B95F;
}

.fixedItemSearch {
    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    background-color: #fafafa;
    z-index: 1000;
}


.main_catalog_search_image {
    user-select: none;
    position: absolute;
    left: 13.5%;
    top: 40.2%;
    z-index: 2;
}

@media (max-width: 360px) {
    .main_catalog_search_image {
        left: 10.5%;
    }
}

.main_catalog_promotional_goods {
    text-align: start;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.main_catalog_promotional_goods h1 {
    font-weight: 600;
    font-size: 20px;
}

.main_catalog_items {
    display: flex;
    overflow: auto;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
}

.main_catalog_items {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main_catalog_items::-webkit-scrollbar {
    display: none;
}

.main_catalog_item {
    height: 236px;
    overflow: visible;
    box-shadow: 0px 4px 8px 0px #00000014;
    border-radius: 5%;
}

.main_catalog_item_wrapper {
    display: flex;
    flex-direction: column;
    width: 160px;
    border-radius: 5%;
    border-collapse: collapse;
    background-color: #fff;
    height: 236px;
}

.main_catalog_item_info {
    padding: 5px 10px 5px 10px;
}

.main_catalog_item_image img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 150px;
}

.main_catalog_item_add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    background-color: #F4F4F4;
    width: Fixed (144px);
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 50px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}

.main_catalog_item_title {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    line-height: 19.25px;
    height: 38px;
    margin-bottom: 4px;
}

.main_catalog_item_desciption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.main_catalog_item_desciption_price {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #1A202C;
}

.main_catalog_item_desciption_weight {
    font-size: 14px;
    font-weight: 600;
    color: #999999;
}


.main_catalog_category {
    width: 100px;
    overflow: hidden;
}

.main_catalog_category_image {
    height: 110px;
    border-radius: 25px;
}

.main_catalog_category_image img {
    max-width: 100px;
    height: 97px;
    border-radius: 50%;
}

.main_catalog_category_title {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.84px;
    text-align: center;
    overflow: hidden;
}

.main_catalog_categories {
    overflow: hidden;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.subcategory_name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.categories_items {
    display: flex;
    overflow: auto;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
}

.subcategory_promotional_goods {
    text-align: start;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.subcategory_promotional_goods h1 {
    font-weight: 600;
    font-size: 20px;
}

.subcategory_items {
    display: flex;
    overflow: auto;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    padding-left: 0px;
    padding-bottom: 15px;

}

.subcategory_item {
    height: 240px;
    overflow: visible;
    border-radius: 5%;
}

.subcategory_item_wrapper {
    display: flex;
    flex-direction: column;
    width: 125px;
    padding: 5px;
    border-radius: 5%;
    border-collapse: collapse;
    background-color: #fff;
    height: 230px;
}

.subcategory_item_info {
    padding-top: 5px;
}

.subcategory_item_image img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    min-height: 100px;
}

.subcategory_item_add_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    background-color: #F4F4F4;
    padding: 10px 7px 10px 7px;
    gap: 8px;
    border-radius: 50px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
}

.subcategory_item_add_button img {
    width: 16px;
}

.subcategory_item_title {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    line-height: 19.25px;
    height: 38px;
    margin-bottom: 4px;
}

.subcategory_item_desciption {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.subcategory_item_desciption_price {
    font-size: 14px;
    font-weight: 600;
    color: #1A202C;
}

.subcategory_item_desciption_weight {
    font-size: 14px;
    font-weight: 600;
    color: #999999;
}


.subcategory_category {
    width: 100px;
    overflow: hidden;
}

.subcategory_category_image {
    height: 110px;
    border-radius: 25px;
}

.subcategory_category_image img {
    max-width: 100px;
    height: 97px;
    border-radius: 50%;
}

.subcategory_category_title {
    font-size: 14px;
    font-weight: 100;
    line-height: 16.84px;
    text-align: center;
    overflow: hidden;
}

.subcategory_categories {
    overflow: hidden;

    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.subcategory_items {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.subcategory_items::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.categories_items {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.categories_items::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}